<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert Songs</title>
</head>
<body>
    <h1>Add a new song to the list</h1>
    <form method="post" action="#" th:action="@{/addSong}" th:object="${newSong}">
        ID: <input type="number" th:field="*{id}">
        Title: <input type="text" th:field="*{title}">
        Artist: <input type="text" th:field="*{artist}">
        Genre:
        <select th:field="*{genre}">
            <option th:each="g: *{genres}" th:value="${g}" th:text="${g}"></option>
        </select>
        <input type="submit" value="Add Song">
    </form>
</body>
</html>